{$APP_HOST::80} {
  encode zstd gzip
  header {
    Strict-Transport-Security "max-age=15552000"
    X-Content-Type-Options "nosniff"
    Referrer-Policy "same-origin"
    -Server
  }
  reverse_proxy app:3000
}
